/* Change font size for all code blocks */
code {
    line-break: '';
    font-size: 2px;
    line-height: 2px;
    font-family: 'Consolas';
    white-space: pre;      /* Prevents text from wrapping */
    overflow-x: auto;     /* Adds a horizontal scrollbar if the line is too long */
    display: block;
}
